* {
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
}

p {
  font-size: 150%;
  text-align: left;
}

body {
  background-color: black;
}

img {
  margin: 0;
  width: 100vw;
  object-fit: contain;
}

.switch:hover {
  background-color: yellow;
}

/* .object {
  border: 1px solid blue;
} */

.object:hover {
  background: rgba(255,255,255,0.1);
}

#lightswitch {
  position: fixed;
  width: 1vw;
  height: 2vh;
  top: 40%;
  left: 13%;
}

#picture {
  position: absolute;
  width: 7.5vw;
  height: 20vh;
  top: 4%;
  left: 14.5%;
}

#memo {
  position: absolute;
  width: 7.8vw;
  height: 19vh;
  top: 4%;
  left: 55%;
}

#desktop {
  position: absolute;
  width: 8vw;
  height: 15vh;
  top: 25%;
  left: 57%;
}

#journal {
  position: absolute;
  width: 10vw;
  height: 7vh;
  top: 38%;
  left: 30%;
}

#password {
  position: absolute;
  width: 2vw;
  height: 7vh;
  top: 40%;
  left: 5%;
}

#pic {
  position: absolute;
  background-color: black;
  max-width: 20%;
  max-height: 50%;
  margin: auto;
  margin-top: 10%;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  display: none;
}

.btn {
  background-color: black;
  color: white;
}

#sunflower {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}

#des {
  color: white;
  background-color: black;
  position: absolute;
  max-width: 25%;
  max-height: 20%;
  margin: auto;
  margin-top: 10%;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  display: none;
}

#memo_img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}

#mem {
  font-size: 150%;
  color: white;
  background-color: black;
  position: absolute;
  max-width: 20%;
  max-height: 50%;
  margin: auto;
  margin-top: 10%;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  display: none;
}

#journal_img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}

#jou {
  font-size: 150%;
  color: white;
  background-color: black;
  position: absolute;
  max-width: 25%;
  max-height: 20%;
  margin: auto;
  margin-top: 10%;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  display: none;
}

#pass {
  font-size: 200%;
  color: white;
  background-color: black;
  position: absolute;
  max-width: 25%;
  max-height: 20%;
  margin: auto;
  margin-top: 10%;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  display: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-item: stretch;
  color: white;
  background-color: black;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}

.booklabel {
  display: inline-block;
  border: 1px solid white;
  padding: 0;
  height: 100%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.booklabel:hover {
  background-color: white;
}

.container input[type=checkbox] {
  display: none;
}

.container input[type=checkbox]:checked + .booklabel {
  background-color: yellow;
  color: black;
}

#jou_ans {
  color: white;
  background-color: black;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  display: none;
}
