* {
  margin: 0;
  padding: 0;
  font-family: 'Marcellus SC', serif;
}

body {
  background-color: black;
}

img {
  margin: 0;
  width: 100vw;
  object-fit: contain;
  /* border: 1px solid red; */
}

.switch:hover {
  /* border: 1px solid blue; */
  background-color: yellow;
}

.object:hover {
  /* border: 1px solid blue; */
  border: 1px solid green;
}

#lightswitch {
  position: fixed;
  width: 1vw;
  height: 2vh;
  top: 40%;
  left: 13%;
}

#picture {
  position: fixed;
  width: 7.5vw;
  height: 20vh;
  top: 4%;
  left: 14.5%;
}

#memo {
  position: fixed;
  width: 7.8vw;
  height: 19vh;
  top: 4%;
  left: 55%;
}

#desktop {
  position: fixed;
  width: 8vw;
  height: 15vh;
  top: 25%;
  left: 57%;
}
